In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [8]:
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

Quando estamos trabalhando com dados, cada tipo de dado tem um formato. Então ao salvar por exemplo o valor do sálario devemos utilizar o tipo de dado numérico

In [13]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [14]:
df.shape

(133349, 11)

In [21]:
linhas, colunas = df.shape[0], df.shape[1]
print("linhas:", linhas)
print("colunas:", colunas)

linhas: 133349
colunas: 11

In [33]:
df.columns

Index(['ano', 'senerioridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [37]:
df.columns = [
    'ano',
    'senerioridade',
    'contrato',
    'cargo',
    'salario',
    'moeda',
    'usd',
    'residencia',
    'remoto',
    'empresa',
    'tamanho_empresa'
]

print("Colunas traduzidas com sucesso! Novas colunas:")
print(df.columns)

Colunas traduzidas com sucesso! Novas colunas:
Index(['ano', 'senerioridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [34]:
df.columns

Index(['ano', 'senerioridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [26]:
df["nivel_experiencia"].value_counts()

nivel_experiencia
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [28]:
df["tipo_emprego"].value_counts()

tipo_emprego
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [29]:
df["cargo"].value_counts()

cargo
Data Scientist                     17314
Software Engineer                  15007
Data Engineer                      14868
Data Analyst                       12381
Engineer                            9456
                                   ...
Quantitative Research Analyst          1
Data Science Tech Lead                 1
Staff Machine Learning Engineer        1
Principal Data Architect               1
Cloud Data Architect                   1
Name: count, Length: 390, dtype: int64

In [30]:
df["taxa_remoto"].value_counts()

taxa_remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [36]:
df["tamanho_empresa"].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [38]:
df['senerioridade'] = df['senerioridade'].replace({
    'SE': 'Sênior',
    'MI': 'Médio',
    'EN': 'Júnior',
    'EX': 'Executivo'
})

print("Categorias de 'senerioridade' traduzidas com sucesso! Novas contagens:")
print(df['senerioridade'].value_counts())

Categorias de 'senerioridade' traduzidas com sucesso! Novas contagens:
senerioridade
Sênior       77241
Médio        40465
Júnior       12443
Executivo     3200
Name: count, dtype: int64

In [39]:
df['contrato'] = df['contrato'].replace({
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Tempo Parcial',
    'FL': 'Freelancer'
})

print("Categorias de 'contrato' traduzidas com sucesso! Novas contagens:")
print(df['contrato'].value_counts())

Categorias de 'contrato' traduzidas com sucesso! Novas contagens:
contrato
Tempo Integral    132563
Contrato             394
Tempo Parcial        376
Freelancer            16
Name: count, dtype: int64

In [40]:
df['tamanho_empresa'] = df['tamanho_empresa'].replace({
    'M': 'Médio',
    'L': 'Grande',
    'S': 'Pequeno'
})

print("Categorias de 'tamanho_empresa' traduzidas com sucesso! Novas contagens:")
print(df['tamanho_empresa'].value_counts())

Categorias de 'tamanho_empresa' traduzidas com sucesso! Novas contagens:
tamanho_empresa
Médio      129561
Grande       3574
Pequeno       214
Name: count, dtype: int64

In [42]:
print("Primeiras linhas do DataFrame com as traduções confirmadas:")
df.head(10)

Primeiras linhas do DataFrame com as traduções confirmadas:

,ano,senerioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,100,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,100,US,Médio
2,2025.0,Médio,Tempo Integral,Data Engineer,158800,USD,158800,AU,0,AU,Médio
3,2025.0,Médio,Tempo Integral,Data Engineer,139200,USD,139200,AU,0,AU,Médio
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,0,US,Médio
5,2025.0,Júnior,Tempo Integral,Data Engineer,80000,USD,80000,US,0,US,Médio
6,2025.0,Sênior,Tempo Integral,Data Scientist,185000,USD,185000,US,0,US,Médio
7,2025.0,Sênior,Tempo Integral,Data Scientist,148000,USD,148000,US,0,US,Médio
8,2025.0,Médio,Tempo Integral,Data Scientist,135000,USD,135000,CA,0,CA,Médio
9,2025.0,Médio,Tempo Integral,Data Scientist,108000,USD,108000,CA,0,CA,Médio

In [43]:
df['cargo'] = df['cargo'].replace({
    'Data Scientist': 'Cientista de Dados',
    'Software Engineer': 'Engenheiro de Software',
    'Data Engineer': 'Engenheiro de Dados',
    'Data Analyst': 'Analista de Dados',
    'Engineer': 'Engenheiro'
})

print("Categorias de 'cargo' traduzidas com sucesso! Novas contagens (top 10):")
print(df['cargo'].value_counts().head(10))

Categorias de 'cargo' traduzidas com sucesso! Novas contagens (top 10):
cargo
Cientista de Dados           17315
Engenheiro de Software       15007
Engenheiro de Dados          14868
Analista de Dados            12381
Engenheiro                    9456
Machine Learning Engineer     8205
Manager                       6679
Analyst                       4364
Research Scientist            3202
Product Manager               2230
Name: count, dtype: int64

In [44]:
print("Primeiras linhas do DataFrame com as traduções confirmadas:")
df.head()

Primeiras linhas do DataFrame com as traduções confirmadas:

,ano,senerioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,100,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,100,US,Médio
2,2025.0,Médio,Tempo Integral,Engenheiro de Dados,158800,USD,158800,AU,0,AU,Médio
3,2025.0,Médio,Tempo Integral,Engenheiro de Dados,139200,USD,139200,AU,0,AU,Médio
4,2025.0,Júnior,Tempo Integral,Engenheiro de Dados,90000,USD,90000,US,0,US,Médio

In [45]:
df['contrato'] = df['contrato'].replace({
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Tempo Parcial',
    'FL': 'Freelancer'
})

print("Categorias de 'contrato' traduzidas com sucesso! Novas contagens:")
print(df['contrato'].value_counts())

Categorias de 'contrato' traduzidas com sucesso! Novas contagens:
contrato
Tempo Integral    132563
Contrato             394
Tempo Parcial        376
Freelancer            16
Name: count, dtype: int64

In [46]:
df.describe(include="object")

,senerioridade,contrato,cargo,moeda,residencia,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349
unique,4,4,389,26,102,95,3
top,Sênior,Tempo Integral,Cientista de Dados,USD,US,US,Médio
freq,77241,132563,17315,126140,119579,119641,129561

In [47]:
df.head()

,ano,senerioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,100,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,100,US,Médio
2,2025.0,Médio,Tempo Integral,Engenheiro de Dados,158800,USD,158800,AU,0,AU,Médio
3,2025.0,Médio,Tempo Integral,Engenheiro de Dados,139200,USD,139200,AU,0,AU,Médio
4,2025.0,Júnior,Tempo Integral,Engenheiro de Dados,90000,USD,90000,US,0,US,Médio

In [48]:
df.describe()

                 ano       salario            usd         remoto
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000