# AULA 1

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [ ]:
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

Quando estamos trabalhando com dados, cada tipo de dado tem um formato. Então ao salvar por exemplo o valor do sálario devemos utilizar o tipo de dado numérico

In [ ]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [ ]:
df.shape

(133349, 11)

In [ ]:
linhas, colunas = df.shape[0], df.shape[1]
print("linhas:", linhas)
print("colunas:", colunas)

linhas: 133349
colunas: 11

In [ ]:
df.columns

Index(['ano', 'senerioridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [5]:
df.columns = [
    'ano',
    'senerioridade',
    'contrato',
    'cargo',
    'salario',
    'moeda',
    'usd',
    'residencia',
    'remoto',
    'empresa',
    'tamanho_empresa'
]

print("Colunas traduzidas com sucesso! Novas colunas:")
print(df.columns)

Colunas traduzidas com sucesso! Novas colunas:
Index(['ano', 'senerioridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [ ]:
df.columns

Index(['ano', 'senerioridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [ ]:
df["nivel_experiencia"].value_counts()

nivel_experiencia
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [ ]:
df["tipo_emprego"].value_counts()

tipo_emprego
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [ ]:
df["cargo"].value_counts()

cargo
Data Scientist                     17314
Software Engineer                  15007
Data Engineer                      14868
Data Analyst                       12381
Engineer                            9456
                                   ...
Quantitative Research Analyst          1
Data Science Tech Lead                 1
Staff Machine Learning Engineer        1
Principal Data Architect               1
Cloud Data Architect                   1
Name: count, Length: 390, dtype: int64

In [ ]:
df["taxa_remoto"].value_counts()

taxa_remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [ ]:
df["tamanho_empresa"].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [6]:
df['senerioridade'] = df['senerioridade'].replace({
    'SE': 'Sênior',
    'MI': 'Médio',
    'EN': 'Júnior',
    'EX': 'Executivo'
})

print("Categorias de 'senerioridade' traduzidas com sucesso! Novas contagens:")
print(df['senerioridade'].value_counts())

Categorias de 'senerioridade' traduzidas com sucesso! Novas contagens:
senerioridade
Sênior       77241
Médio        40465
Júnior       12443
Executivo     3200
Name: count, dtype: int64

In [7]:
df['contrato'] = df['contrato'].replace({
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Tempo Parcial',
    'FL': 'Freelancer'
})

print("Categorias de 'contrato' traduzidas com sucesso! Novas contagens:")
print(df['contrato'].value_counts())

Categorias de 'contrato' traduzidas com sucesso! Novas contagens:
contrato
Tempo Integral    132563
Contrato             394
Tempo Parcial        376
Freelancer            16
Name: count, dtype: int64

In [8]:
df['tamanho_empresa'] = df['tamanho_empresa'].replace({
    'M': 'Médio',
    'L': 'Grande',
    'S': 'Pequeno'
})

print("Categorias de 'tamanho_empresa' traduzidas com sucesso! Novas contagens:")
print(df['tamanho_empresa'].value_counts())

Categorias de 'tamanho_empresa' traduzidas com sucesso! Novas contagens:
tamanho_empresa
Médio      129561
Grande       3574
Pequeno       214
Name: count, dtype: int64

In [ ]:
print("Primeiras linhas do DataFrame com as traduções confirmadas:")
df.head(10)

Primeiras linhas do DataFrame com as traduções confirmadas:

,ano,senerioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,100,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,100,US,Médio
2,2025.0,Médio,Tempo Integral,Data Engineer,158800,USD,158800,AU,0,AU,Médio
3,2025.0,Médio,Tempo Integral,Data Engineer,139200,USD,139200,AU,0,AU,Médio
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,0,US,Médio
5,2025.0,Júnior,Tempo Integral,Data Engineer,80000,USD,80000,US,0,US,Médio
6,2025.0,Sênior,Tempo Integral,Data Scientist,185000,USD,185000,US,0,US,Médio
7,2025.0,Sênior,Tempo Integral,Data Scientist,148000,USD,148000,US,0,US,Médio
8,2025.0,Médio,Tempo Integral,Data Scientist,135000,USD,135000,CA,0,CA,Médio
9,2025.0,Médio,Tempo Integral,Data Scientist,108000,USD,108000,CA,0,CA,Médio

In [9]:
df['cargo'] = df['cargo'].replace({
    'Data Scientist': 'Cientista de Dados',
    'Software Engineer': 'Engenheiro de Software',
    'Data Engineer': 'Engenheiro de Dados',
    'Data Analyst': 'Analista de Dados',
    'Engineer': 'Engenheiro'
})

print("Categorias de 'cargo' traduzidas com sucesso! Novas contagens (top 10):")
print(df['cargo'].value_counts().head(10))

Categorias de 'cargo' traduzidas com sucesso! Novas contagens (top 10):
cargo
Cientista de Dados           17315
Engenheiro de Software       15007
Engenheiro de Dados          14868
Analista de Dados            12381
Engenheiro                    9456
Machine Learning Engineer     8205
Manager                       6679
Analyst                       4364
Research Scientist            3202
Product Manager               2230
Name: count, dtype: int64

In [ ]:
print("Primeiras linhas do DataFrame com as traduções confirmadas:")
df.head()

Primeiras linhas do DataFrame com as traduções confirmadas:

,ano,senerioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,100,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,100,US,Médio
2,2025.0,Médio,Tempo Integral,Engenheiro de Dados,158800,USD,158800,AU,0,AU,Médio
3,2025.0,Médio,Tempo Integral,Engenheiro de Dados,139200,USD,139200,AU,0,AU,Médio
4,2025.0,Júnior,Tempo Integral,Engenheiro de Dados,90000,USD,90000,US,0,US,Médio

In [ ]:
df['contrato'] = df['contrato'].replace({
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Tempo Parcial',
    'FL': 'Freelancer'
})

print("Categorias de 'contrato' traduzidas com sucesso! Novas contagens:")
print(df['contrato'].value_counts())

Categorias de 'contrato' traduzidas com sucesso! Novas contagens:
contrato
Tempo Integral    132563
Contrato             394
Tempo Parcial        376
Freelancer            16
Name: count, dtype: int64

In [ ]:
df.describe(include="object")

,senerioridade,contrato,cargo,moeda,residencia,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349
unique,4,4,389,26,102,95,3
top,Sênior,Tempo Integral,Cientista de Dados,USD,US,US,Médio
freq,77241,132563,17315,126140,119579,119641,129561

In [ ]:
df.head()

,ano,senerioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,100,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,100,US,Médio
2,2025.0,Médio,Tempo Integral,Engenheiro de Dados,158800,USD,158800,AU,0,AU,Médio
3,2025.0,Médio,Tempo Integral,Engenheiro de Dados,139200,USD,139200,AU,0,AU,Médio
4,2025.0,Júnior,Tempo Integral,Engenheiro de Dados,90000,USD,90000,US,0,US,Médio

In [ ]:
df.describe()

                 ano       salario            usd         remoto
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [11]:
df['remoto'] = df['remoto'].replace({
    100: 'Remoto',
    0: 'Presencial',
    50: 'Híbrido'
})

print("Categorias de 'remoto' traduzidas com sucesso! Novas contagens:")
print(df['remoto'].value_counts())

Categorias de 'remoto' traduzidas com sucesso! Novas contagens:
remoto
Presencial    105312
Remoto         27718
Híbrido          319
Name: count, dtype: int64

# AULA 2

In [13]:
df.isnull()

,ano,senerioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [16]:
df.head(20)

,ano,senerioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Médio
2,2025.0,Médio,Tempo Integral,Engenheiro de Dados,158800,USD,158800,AU,Presencial,AU,Médio
3,2025.0,Médio,Tempo Integral,Engenheiro de Dados,139200,USD,139200,AU,Presencial,AU,Médio
4,2025.0,Júnior,Tempo Integral,Engenheiro de Dados,90000,USD,90000,US,Presencial,US,Médio
5,2025.0,Júnior,Tempo Integral,Engenheiro de Dados,80000,USD,80000,US,Presencial,US,Médio
6,2025.0,Sênior,Tempo Integral,Cientista de Dados,185000,USD,185000,US,Presencial,US,Médio
7,2025.0,Sênior,Tempo Integral,Cientista de Dados,148000,USD,148000,US,Presencial,US,Médio
8,2025.0,Médio,Tempo Integral,Cientista de Dados,135000,USD,135000,CA,Presencial,CA,Médio
9,2025.0,Médio,Tempo Integral,Cientista de Dados,108000,USD,108000,CA,Presencial,CA,Médio
10,2025.0,Médio,Tempo Integral,BI Developer,118000,USD,118000,US,Remoto,US,Médio
11,2025.0,Médio,Tempo Integral,BI Developer,51000,USD,51000,US,Remoto,US,Médio
12,2025.0,Júnior,Tempo Integral,Analista de Dados,91900,USD,91900,US,Presencial,US,Médio
13,2025.0,Júnior,Tempo Integral,Analista de Dados,54300,USD,54300,US,Presencial,US,Médio
14,2025.0,Sênior,Tempo Integral,Applied Scientist,255000,USD,255000,US,Presencial,US,Médio
15,2025.0,Sênior,Tempo Integral,Applied Scientist,190000,USD,190000,US,Presencial,US,Médio
16,2025.0,Médio,Tempo Integral,Systems Engineer,196350,USD,196350,US,Presencial,US,Médio
17,2025.0,Médio,Tempo Integral,Systems Engineer,130900,USD,130900,US,Presencial,US,Médio
18,2025.0,Executivo,Tempo Integral,Director,170000,USD,170000,US,Presencial,US,Médio
19,2025.0,Executivo,Tempo Integral,Director,160000,USD,160000,US,Presencial,US,Médio

In [18]:
df.isnull().sum()

ano                10
senerioridade       0
contrato            0
cargo               0
salario             0
moeda               0
usd                 0
residencia          0
remoto              0
empresa             0
tamanho_empresa     0
dtype: int64

In [19]:
df['ano'].unique()

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [20]:
df[df.isnull().any(axis=1)]

,ano,senerioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
5588,NaN,Sênior,Tempo Integral,Product Manager,184500,USD,184500,US,Presencial,US,Médio
59692,NaN,Médio,Tempo Integral,Engenheiro,110000,USD,110000,DE,Presencial,DE,Médio
59710,NaN,Júnior,Tempo Integral,Cientista de Dados,208800,USD,208800,US,Presencial,US,Médio
59759,NaN,Sênior,Tempo Integral,Engenheiro de Software,135000,USD,135000,US,Presencial,US,Médio
59789,NaN,Sênior,Tempo Integral,Engenheiro,112000,USD,112000,US,Presencial,US,Médio
131000,NaN,Sênior,Tempo Integral,Machine Learning Engineer,163800,USD,163800,US,Presencial,US,Médio
131006,NaN,Sênior,Tempo Integral,Data Analytics Manager,204500,USD,204500,US,Presencial,US,Médio
133054,NaN,Júnior,Tempo Integral,Cientista de Dados,40000,USD,40000,JP,Remoto,MY,Grande
133281,NaN,Médio,Tempo Integral,Machine Learning Engineer,180000,PLN,46597,PL,Remoto,PL,Grande
133317,NaN,Médio,Tempo Integral,Cientista de Dados,130000,USD,130000,US,Híbrido,US,Grande

In [39]:
import numpy as np

df_salarios = pd.DataFrame({
    "nome":['Bruno','Emily',"Ana",'Erick', 'Valkiria', 'Robson'],
    "salario":[4000, np.nan, 5000, np.nan, 100000, 5700]
})

#calcula a média e substitui os nulos e arredonda
df_salarios['salario_media'] = df_salarios['salario'].fillna(df_salarios['salario'].mean().round(2))

#Calcula a mediana e substitui os nulos
df_salarios['salario_mediana'] = df_salarios['salario'].fillna(df_salarios['salario'].median())

df_salarios

       nome   salario  salario_media  salario_mediana
0     Bruno    4000.0         4000.0           4000.0
1     Emily       NaN        28675.0           5350.0
2       Ana    5000.0         5000.0           5000.0
3     Erick       NaN        28675.0           5350.0
4  Valkiria  100000.0       100000.0         100000.0
5    Robson    5700.0         5700.0           5700.0

In [40]:
df_temperaturas = pd.DataFrame({
    "dia":['segunda','terça','quarta','quinta','sexta','sabado','domingo'],
    "temperatura":[30, np.nan, np.nan, 28, 27, 25, 26]
})
#pega a temperatura do dia anterior
df_temperaturas["preenchido_ffill"] = df_temperaturas["temperatura"].ffill()
df_temperaturas

       dia  temperatura  preenchido_ffill
0  segunda         30.0              30.0
1    terça          NaN              30.0
2   quarta          NaN              30.0
3   quinta         28.0              28.0
4    sexta         27.0              27.0
5   sabado         25.0              25.0
6  domingo         26.0              26.0

In [41]:
df_temperaturas = pd.DataFrame({
    "dia":['segunda','terça','quarta','quinta','sexta','sabado','domingo'],
    "temperatura":[30, np.nan, np.nan, 28, 27, 25, 26]
})
#pega a temperatura do dia seguinte
df_temperaturas["preenchido_bfill"] = df_temperaturas["temperatura"].bfill()
df_temperaturas

       dia  temperatura  preenchido_bfill
0  segunda         30.0              30.0
1    terça          NaN              28.0
2   quarta          NaN              28.0
3   quinta         28.0              28.0
4    sexta         27.0              27.0
5   sabado         25.0              25.0
6  domingo         26.0              26.0

In [45]:
df_cidades = pd.DataFrame({
    "nome":['Bruno','Emily',"Ana",'Erick', 'Valkiria', 'Robson'],
    "cidade":['Osasco', 'São Paulo', np.nan, 'Curitiba', np.nan, np.nan]
})

df_cidades["cidade_preenchida"] = df_cidades["cidade"].fillna("cidade não informada")
df_cidades

       nome     cidade     cidade_preenchida
0     Bruno     Osasco                Osasco
1     Emily  São Paulo             São Paulo
2       Ana        NaN  cidade não informada
3     Erick   Curitiba              Curitiba
4  Valkiria        NaN  cidade não informada
5    Robson        NaN  cidade não informada

In [56]:
df_limpo = df.dropna()

In [58]:
df_limpo.isnull().sum()

ano                0
senerioridade      0
contrato           0
cargo              0
salario            0
moeda              0
usd                0
residencia         0
remoto             0
empresa            0
tamanho_empresa    0
dtype: int64

In [62]:
df_limpo.head()

,ano,senerioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Médio
2,2025.0,Médio,Tempo Integral,Engenheiro de Dados,158800,USD,158800,AU,Presencial,AU,Médio
3,2025.0,Médio,Tempo Integral,Engenheiro de Dados,139200,USD,139200,AU,Presencial,AU,Médio
4,2025.0,Júnior,Tempo Integral,Engenheiro de Dados,90000,USD,90000,US,Presencial,US,Médio

In [63]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ano              133339 non-null  float64
 1   senerioridade    133339 non-null  object
 2   contrato         133339 non-null  object
 3   cargo            133339 non-null  object
 4   salario          133339 non-null  int64
 5   moeda            133339 non-null  object
 6   usd              133339 non-null  int64
 7   residencia       133339 non-null  object
 8   remoto           133339 non-null  object
 9   empresa          133339 non-null  object
 10  tamanho_empresa  133339 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.2+ MB

In [65]:
#muda o tipo de dado tratado na coluna ano
df_limpo = df_limpo.assign(ano = df_limpo['ano'].astype('int64'))
df_limpo.head()

,ano,senerioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Médio
1,2025,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Médio
2,2025,Médio,Tempo Integral,Engenheiro de Dados,158800,USD,158800,AU,Presencial,AU,Médio
3,2025,Médio,Tempo Integral,Engenheiro de Dados,139200,USD,139200,AU,Presencial,AU,Médio
4,2025,Júnior,Tempo Integral,Engenheiro de Dados,90000,USD,90000,US,Presencial,US,Médio